<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Abufulan</title>
    <link rel="icon" type="image/x-icon" href="{% static 'shop/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'shop/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'shop/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'shop/css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'shop/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'shop/css/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'shop/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'shop/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet' %}">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet' %}">
    <script async type="text/javascript" src="{% static 'shop/js/jquery.js' %}"></script>
</head>

<body>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">SEARCH HERE</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <form method="get" class="searchform" action="/search" role="search">
                            <input type="hidden" name="type" value="product">
                            <input type="text" name="q" class="form-control control-search">
                            <span class="input-group-btn">
                                <button class="btn btn-default button_search" type="button"><i data-toggle="dropdown"
                                        class="ion-ios-search"></i></button>
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header>

        <div class="bottom">
            <div class="container">
                <div class="header-row">
                    <div class="col-md-3 col-sm-8 col-xs-7 logo">
                        <a href="{% url 'shop:home' %}" title="Abufulan"><img src="{% static 'shop/img/images/logoleft.png' %}" alt="images"
                                class="img-reponsive"></a>
                    </div>

                    <div class="topbar-mobile hidden-lg hidden-md" style="padding: 20px;">
                        <form action="#" class="search-form">
                            <input type="text" name="s" class="form-control" placeholder="SEARCH...">
                            <button type="submit" class="search-icon"></button>
                        </form>
                    </div>

                    <div class="col-md-9 col-sm-4 col-xs-5 nextlogo">

                        <div class="search hidden-xs hidden-sm">
                            <form action="#" class="search-form">
                                <input type="text" name="s" class="form-control" placeholder="SEARCH...">
                                <button type="submit" class="search-icon"></button>
                            </form>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-6 column-left">
                        <aside id="column-left">
                            <nav class="navbar-default">
                                <div class="menu-heading js-nav-menu">ALL CATEGORIES</div>
                                <div class="vertical-wrapper v3 js-dropdown-menu">
                                    <ul class="level0" id="categories">
                                        <!-- <li><a href="#">camera</a><span class="icon icon-camera"></span></li> -->
                                        <li>
                                            <a href="#">Phones</a><span class="icon"></span>
                                            <div class="dropdown-content">
                                                <ul class="level1">
                                                    <li class="sub-menu col-3">
                                                        <a href="#">PHONES</a>
                                                        <ul class="level2">
                                                            <li class="col-inner"><a href="#">Samsang</a></li>
                                                            <li class="col-inner"><a href="#">Iphone</a></li>
                                                            <li class="col-inner"><a href="#">Xiaomi</a></li>
                                                            <li class="col-inner"><a href="#">Tecno</a></li>
                                                            <li class="col-inner"><a href="#">Infinix</a></li>
                                                            <li class="col-inner"><a href="#">Huawei</a></li>
                                                            <li class="col-inner"><a href="#">Xtigi</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>

                                            </div>

                                        </li>
                                        <li>
                                            <a href="#">Laptops</a><span class="icon"></span>
                                            <div class="dropdown-content">
                                                <ul class="level1">
                                                    <li class="sub-menu col-3">
                                                        <a href="#">LAPTOPS</a>
                                                        <ul class="level2">
                                                            <li class="col-inner"><a href="#">MAC Book</a></li>
                                                            <li class="col-inner"><a href="#">HP</a></li>
                                                            <li class="col-inner"><a href="#">Dell</a></li>
                                                            <li class="col-inner"><a href="#">Acer</a></li>
                                                            <li class="col-inner"><a href="#">Lenovo</a></li>
                                                            <li class="col-inner"><a href="#">Toshiba</a></li>
                                                            <li class="col-inner"><a href="#">ASUS</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                                <div class="clearfix"></div>

                                            </div>
                                        </li>

                                        <li class="game">
                                            <a href="#">Accessories</a>
                                            <div class="dropdown-content">
                                                <ul class="level1">
                                                    <li class="sub-menu col-3">
                                                        <a href="#">ACCESSORIES</a>
                                                        <ul class="level2">
                                                            <li class="col-inner"><a href="#">Smart Watch</a></li>
                                                            <li class="col-inner"><a href="#">Headphones</a></li>
                                                            <li class="col-inner"><a href="#">Phone case</a></li>
                                                            <li class="col-inner"><a href="#">Straps</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                                <div class="clearfix"></div>

                                            </div>
                                        </li>
                                        <!-- <li><a href="#">headphone</a></li> -->
                                        <!-- <li><a href="#">mouse</a></li> -->
                                        <!-- <li><a href="#">washing machine</a></li> -->
                                        <!-- <li><a href="#">air conditional</a></li> -->
                                        <!-- <li><a href="#">accessories</a></li> -->
                                        <!-- <li><a href="#">others</a></li> -->

                                    </ul>
                                </div>
                            </nav>
                        </aside>
                    </div>
                    <div class="col-md-9 col-sm-8 col-xs-6 column-right">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="menu-title">MENU</span>
                        </button>
                        <div class="collapse navbar-collapse" id="myNavbar">
                            <ul class="menubar js-menubar">
                                <li class=" menu-homepage menu-item-has-child dropdown">
                                    <a href="{% url 'shop:home' %}" title="Home"><i class="fa fa-home"></i>home</a>
                                    <span class="plus js-plus-icon"></span>
                                </li>
                                <li class="menu-collection-page menu-item-has-child dropdown">
                                    <a href="{% url 'shop:catalogue' %}" title="Products"><i
                                            class="fa fa-shopping-cart"></i>&nbsp;
                                        Products</a>
                                    <span class="plus js-plus-icon"></span>
                                    <!-- <ul class="dropdown-menu menu-level">
                                            <li><a href="product-collection.html" title="shop collection">Shop Collection</a></li>
                                            <li><a href="shop-list-v2.html" title="shop list v1">Shop List V1</a></li>
                                            <li><a href="shop-list-v3.html" title="shop list v2">Shop List V2</a></li>
                                            <li><a href="#" title="shoplist v3">Shop List V3</a></li>
                                        </ul> -->
                                </li>
                                <li class="dropdown menu-contact-page menu-item-has-child">
                                    <a href="{% url 'shop:contact' %}" title="Contact Us"><i
                                            class="fa fa-paper-plane"></i>&nbsp;
                                        CONTACT US</a>
                                    <span class="plus js-plus-icon"></span>
                                    <!-- <ul class="dropdown-menu menu-level">
                                            <li><a href="contact_us.html" title="contact us">Contact Us </a></li>
                                            <li><a href="about-us.html" title="about us">About Us</a></li>
                                        </ul> -->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- /header -->
    <section class="about-us-page">
        <div class="container">
            <div class="heading-sub ver2">
                <h3 class="pull-left">ABOUT US</h3>
                <ul class="other-link-sub pull-right">
                    <li><a href="{% url 'shop:home' %}">Home</a></li>
                    <li><a href="{% url 'shop:catalogue' %}">Products</a></li>
                    <li><a class="active" href="{% url 'shop:about' %}">About Us</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="widget-about-us">
                <a href="#"><img src="{% static 'shop/img/images/About.jpg' %}" alt="imgages"
                        class="img-responsive"></a>
                <div class="text-description">
                    <p>We are dealers in phones, laptops and all accessories</p>
                    <p>To see a selection of my designs and sketches, which is how all my best designs start, take a
                        look at my portfolio page. To see who I have worked with see my client list and stockists.</p>
                    <p>I’m a freelance fashion designer who specialises in print designs and combining fabrics. My
                        designs have been sold all over Europe and the USA and I have worked with some of the biggest
                        designers in the industry. I’m also currently working with a big supermarket to develop a
                        gorgeous, yet affordable, range of beautifully printed key pieces that no women’s wardrobe
                        should be without!</p>
                </div>
            </div>
        </div>
    </section>
    <div class="brand">
        <div class="container">
            <div class="owl-carousel owl-theme js-owl-brand">
                <div class="item">
                    <a href="#"><img src="{% static 'shop/img/images/logo-11.jpg' %}" alt="images"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="{% static 'shop/img/images/logo-12.jpg' %}" alt="images"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="{% static 'shop/img/images/logo-13.jpg' %}" alt="images"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="{% static 'shop/img/images/logo-14.jpg' %}" alt="images"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="{% static 'shop/img/images/logo-15.jpg' %}" alt="images"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="{% static 'shop/img/images/logo-16.jpg' %}" alt="images"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="{% static 'shop/img/images/logo-17.jpg' %}" alt="images"></a>
                </div>
                <!-- <div class="item">
                        <a href="#"><img src="{% static 'shop/img/brand/midnight.jpg' %}" alt="images"></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="{% static 'shop/img/brand/midnight.jpg' %}" alt="images"></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="{% static 'shop/img/brand/midnight.jpg' %}" alt="images"></a>
                    </div> -->
            </div>
        </div>
    </div>
    <div class="features">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 fea-column-inner">
                    <div class="fea-box">
                        <div class="photo">
                            <img src="{% static 'shop/img/gift.png' %}" alt="images" class="img-reponsive">
                        </div>
                        <p class="inform-ver2">
                            <span class="strong">Deal of the day<br></span> check out today's deal
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 fea-column-inner">
                    <div class="fea-box">
                        <div class="photo">
                            <img src="{% static 'shop/img/fly.png' %}" alt="images" class="img-reponsive">
                        </div>
                        <p class="inform-ver2">
                            <span class="strong">We Deliver<br></span> Right to your doorstep
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 fea-column-inner">
                    <div class="fea-box">
                        <div class="photo">
                            <img src="{% static 'shop/img/return.png' %}" alt="images" class="img-reponsive">
                        </div>
                        <p class="inform-ver2">
                            <span class="strong">Quality Products<br></span> Certified Dealer
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 fea-column-inner">
                    <div class="fea-box">
                        <div class="photo">
                            <img src="{% static 'shop/img/secu.png' %}" alt="images" class="img-reponsive">
                        </div>
                        <p class="inform-ver2">
                            <span class="strong">Customer Service<br></span> We are proud of best service
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="info">
            <div class="container">
                <div class="row ">
                    <div class="col-md-3 col-xs-12 ">
                        <div class="photo">
                            <a href="{% url 'shop:home' %}"><img src="{% static 'shop/img/images/logoleft.png' %}" alt="images"
                                    class="img-responsive"></a>
                        </div>
                        <p class="info-desc">Welcome to the home of quality. We are authorised Apple and Samsung
                            resellers</p>
                        <div class="widget-info">
                            <ul>
                                <li><i class="ion-ios-location fa-4" aria-hidden="true"></i>Jamia shopping mall, Shop
                                    G64,
                                    Nairobi, Kenya.</li>
                                <li class="clearfix"></li>
                                <li><i class="ion-ios-telephone fa-4" aria-hidden="true"></i>
                                    <p class="title-contain">+254 792 029 968</p>
                                </li>
                                <li class="clearfix"></li>
                                <li><i class="ion-email-unread fa-4" aria-hidden="true"></i>
                                    <p class="title-contain"><a
                                            href="mailto:abufulanstore@gmail.com">abufulanstore@gmail.com</a>
                                    </p>
                                </li>
                                <li class="clearfix"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5 col-xs-12">
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <h3>let us help you</h3>
                                <ul class="fmenu">
                                    <li><a href="https://api.whatsapp.com/send?phone=254792029698"
                                            target="_blank">whatsApp</a></li>
                                    <li><a href="tel:+254792029698">Call us today</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-xs-12 pd-left">
                                <h3>useful links</h3>
                                <ul class="fmenu">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="{% url 'shop:catalogue' %}">Shop</a></li>
                                    <li><a href="{% url 'shop:about' %}">About</a></li>
                                    <li><a href="{% url 'shop:contact' %}">Contact us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <h3 class="titles">FIND US ON:</h3>
                        <ul class="social">
                            <li><a href="https://www.facebook.com/Abufulanstore/?ref=py_c"><i
                                        class="ion-social-facebook fa-3" aria-hidden="true"></i></a></li>
                            <li><a href="https://twitter.com/abufulanstore"><i class="ion-social-twitter fa-3"
                                        aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="ion-social-instagram fa-3" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright">
            <div class="container">
                <span>© <a href="#" title="">Abufulan store</a> - All Rights Reserved.</span>
                <ul class="payment">
                    <li><a href="#"><img src="{% static 'shop/img/paypal.png' %}" alt="images"
                                class="img-responsive"></a></li>
                    <li><a href="#"><img src="{% static 'shop/img/visa.png' %}" alt="images" class="img-responsive"></a>
                    </li>
                    <li><a href="#"><img src="{% static 'shop/img/american.png' %}" alt="images"
                                class="img-responsive"></a></li>
                    <li><a href="#"><img src="{% static 'shop/img/mastercard.png' %}" alt="images"
                                class="img-responsive"></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </footer>
    <script defer type="text/javascript" src="{% static 'shop/js/bootstrap.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'shop/js/owl.carousel.min.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'shop/js/slick.min.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'shop/js/main.js' %}"></script>
</body>

</html>