<!DOCTYPE html>
<html lang="en">

<head>
  {%load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Mobile Web-app fullscreen -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">

  <!-- SEO -->
  <meta name="author" content="Lenny Kioko">
  <meta name="keywords"
    content="electronics, e-commerce, shop, buy electronics, buy electronics online, dealer, jamia mall, nairobi ,kenya">
  <meta name="description" content="E-commerce store for phones, tablets, computers and other electronics">
  <meta name="google-site-verification" content="W5sK6p7l7esRL9ii-yOMFsxK-Kzoqhyt-HatVMyTbVs" />

  <link rel="icon" href="favicon.ico">

  <!--Title-->
  <title>AbuFulan</title>

  <!--CSS bundle -->

  <link rel="stylesheet" href="{% static 'shop/css/bootstrap.css' %}">

  <link rel="stylesheet" href="{% static 'shop/css/animate.css' %}">
  <link rel="stylesheet" href="{% static 'shop/css/font-awesome.css' %}">
  <link rel="stylesheet" href="{% static 'shop/css/font-awesome.css' %}">
  <link rel="stylesheet" href="{% static 'shop/css/linear-icons.css' %}">
  <link rel="stylesheet" href="{% static 'shop/css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'shop/css/owl.carousel.css' %}">
  <link rel="stylesheet" href="{% static 'shop/css/ion-range-slider.css' %}">
  <link rel="stylesheet" href="{% static 'shop/css/theme.css' %}">

  <!--Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">


  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

  <div class="page-loader"></div>

  <div class="wrapper">

    <!-- ======================== Navigation ======================== -->

    <nav>

      <div class="clearfix">

        <a href="" class="logo"><img src="{% static 'shop/images/logoAbu.png' %}" alt="" /></a>

        <!-- ==========  Pre navigation ========== -->

        <div class="navigation navigation-pre clearfix">
          <div class="row">
            <div class="col-md-3">
              <a href="#"><i class="icon icon-heart-pulse"></i> Call Now +254 792 029 968</a>
            </div>
            <div class="col-md-3">
              <a><i class="icon icon-cog"></i> Quality Products</a>
            </div>
            <div class="col-md-3">
              <a><i class="icon icon-cog"></i> Fast Delivery</a>
            </div>
            <div class="col-md-3">
              <a><i class="icon icon-map"></i> Affordable Prices</a>
            </div>
          </div>
        </div>

        <!-- ==========  Top navigation ========== -->

        <div class="navigation navigation-top clearfix">
          <ul>
            <!--add active class for current page-->
            <!-- <li class="left-side"><a href="index.html" class="logo-icon"><img src="assets/images/icon.png"
                                    alt="Alternate Text" /></a></li> -->
            <!-- <li class="left-side"><a href="#">Call Now +254 792 029 968</a></li> -->
            <!--

                            // Use active class for current state

                            <li class="left-side active"><a href="#">Man</a></li>

                        -->
            <!-- <li class="left-side"><a href="#">Woman</a></li> -->
            <!-- <li class="left-side"><a href="#">Kids</a></li> -->
            <!-- <li><a href="javascript:void(0);" class="open-login"><i class="icon icon-user"></i></a></li> -->
            <li><a href="javascript:void(0);" class="open-search"><i class="icon icon-magnifier"></i></a>
            </li>
            <!-- <li><a href="javascript:void(0);" class="open-cart"><i class="icon icon-cart"></i>
                                <span>4</span></a>
                            </li> -->
          </ul>
        </div>

        <!-- ==========  Main navigation ========== -->

        <div class="navigation navigation-main">
          <a href="#" class="open-login"><i class="icon icon-user"></i></a>
          <a href="#" class="open-cart"><i class="icon icon-cart"></i></a>
          <a href="#" class="open-search"><i class="icon icon-magnifier"></i></a>
          <a href="#" class="open-menu"><i class="icon icon-menu"></i></a>
          <div class="floating-menu">
            <!--mobile toggle menu trigger-->
            <div class="close-menu-wrapper">
              <span class="close-menu"><i class="icon icon-cross"></i></span>
            </div>
            <ul>
              <li>
                <a href="javascript:void(0);">Phones </a>
                <!-- <div class="navbar-dropdown navbar-dropdown-single">
                                    <div class="navbar-box">
                                        <div class="box-full">
                                            <div class="box clearfix">
                                                <ul>
                                                    <li class="label">Homepages</li>
                                                    <li><a href="index.html">Home - Slider</a></li>
                                                    <li><a href="index-2.html">Home - Tabsy</a></li>
                                                    <li><a href="index-3.html">Home intro</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
              </li>
              <li>
                <a href="javascript:void(0);">Laptops <span class="open-dropdown">
                    <!-- <i class="fa fa-angle-down"></i></span> -->
                </a>
                <!-- <div class="navbar-dropdown navbar-dropdown-single">
                                    <div class="navbar-box">
                                        <div class="box-full">
                                            <div class="box clearfix">
                                                <ul>
                                                    <li class="label">Single dropdown</li>
                                                    <li><a href="about.html">About us</a></li>
                                                    <li><a href="contact.html">Contact</a></li>
                                                    <li><a href="404.html">Not found 404</a></li>
                                                    <li><a href="login.html">Login & Register</a></li>
                                                    <li><a href="email-receipt.html">Email - Receipt template</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
              </li>
              <li>
                <a href="javascript:void(0);">Macbooks <span class="open-dropdown">
                    <!-- <i class="fa fa-angle-down"></i></span> -->
                </a>
                <!-- <div class="navbar-dropdown navbar-dropdown-single">
                                    <div class="navbar-box">
                                        <div class="box-full">
                                            <div class="box clearfix">
                                                <ul>
                                                    <li class="label">Product page</li>
                                                    <li><a href="category.html">Products categories</a></li>
                                                    <li><a href="products-grid.html">Products grid</a></li>
                                                    <li><a href="products-list.html">Products list</a></li>
                                                    <li><a href="products-grid-intro.html">Products grid intro</a></li>
                                                    <li><a href="products-topbar.html">Products topbar filter</a></li>
                                                    <li><a href="product.html">Product overview</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
              </li>
              <li>
                <a href="javascript:void(0);">Smart Watches <span class="open-dropdown">
                    <!-- <i class="fa fa-angle-down"></i></span> -->
                </a>
                <!-- <div class="navbar-dropdown navbar-dropdown-single">
                                    <div class="navbar-box">
                                        <div class="box-full">
                                            <div class="box clearfix">
                                                <ul>
                                                    <li class="label">Blog pages</li>
                                                    <li><a href="blog-grid.html">Blog grid</a></li>
                                                    <li><a href="blog-list.html">Blog list</a></li>
                                                    <li><a href="blog-grid-fullpage.html">Blog fullpage</a></li>
                                                    <li><a href="ideas.html">Blog ideas</a></li>
                                                    <li><a href="article.html">Article</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
              </li>
              <li>
                <a href="javascript:void(0);">Sound <span class="open-dropdown">
                    <!-- <i class="fa fa-angle-down"></i></span> -->
                </a>
                <!-- <div class="navbar-dropdown navbar-dropdown-single">
                                    <div class="navbar-box">
                                        <div class="box-full">
                                            <div class="box clearfix">
                                                <ul>
                                                    <li class="label">Checkout</li>
                                                    <li><a href="checkout-1.html">Checkout - Cart items</a></li>
                                                    <li><a href="checkout-2.html">Checkout - Delivery</a></li>
                                                    <li><a href="checkout-3.html">Checkout - Payment</a></li>
                                                    <li><a href="checkout-4.html">Checkout - Receipt</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
              </li>
              <li><a href="javascript:void(0);">Accessories</a></li>
            </ul>
          </div>
        </div>

        <!-- ==========  Search wrapper ========== -->

        <div class="search-wrapper">
          <input class="form-control" placeholder="Search..." />
          <button class="btn btn-main">Go!</button>
        </div>

        <!-- ==========  Login wrapper ========== -->

        <div class="login-wrapper">
          <div class="h4">Sign in</div>
          <form>
            <div class="form-group">
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
              <a href="#forgotpassword" class="open-popup">Forgot password?</a>
              <a href="#createaccount" class="open-popup">Don't have an account?</a>
            </div>
            <button type="submit" class="btn btn-block btn-main">Submit</button>
          </form>
        </div>

        <!-- ==========  Cart wrapper ========== -->

      </div>
    </nav>


    <!-- ========================  Header content ======================== -->

    <section class="header-content">

      <div class="clearifx">

        <div class="owl-slider">
          <!-- === slide item === -->
          <!-- <style="background-image: url({% static 'images/cover.jpg' %})"></style> -->
          <div class="item" style="background-image: url({% static 'shop/images/gallery-1.jpg' %});">
            <div class="box box-left">
              <div class="text-right">
                <!-- <h2 class="title animated h1" data-animation="fadeInDown">Abufulan</h2> -->
                <div class="animated" data-animation="fadeInUp">
                  Welcome to the home of Quality
                  <br />
                  We are Authorised Apple & Samsung Resellers.
                </div>
                <div class="animated" data-animation="fadeInUp">
                  <a href="#" target="_blank" class="btn btn-clean"><i class="icon icon-phone"></i>
                    Call Now</a>
                  <!-- <a href="#" target="_blank" class="btn btn-clean"><i class="icon icon-eye"></i>
                                        Details</a> -->
                </div>
              </div>
            </div>
          </div>
          <!-- === slide item === -->
          <div class="item" style="background-image: url({% static 'shop/images/gallery-2.jpg' %});">
            <div class="box box-right">
              <div class="text-left">
                <!-- <h2 class="title animated h1" data-animation="fadeInDown">Buy this template</h2> -->
                <div class="animated" data-animation="fadeInUp">
                  Phones | TVs | Computers 💻 | Drones and all Accessories.
                  <br />
                  TRADEIN 📱 Accepted | 📍JAMIA MALL G64
                </div>
                <div class="animated" data-animation="fadeInUp">
                  <a href="#" target="_blank" class="btn btn-clean"><i class="icon icon-phone"></i>
                    Call Now</a>
                  <!-- <a href="#" target="_blank" class="btn btn-clean"><i class="icon icon-eye"></i>
                                        Details</a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/owl-slider-->
      </div>
    </section>

    <!-- ========================  Blog Block ======================== -->

    <section class="blog blog-block blog-intro">

      <div class="container">

        <!-- === blog header === -->

        <header class="hidden">
          <div class="row">
            <div class="col-md-offset-2 col-md-8 text-center">
              <h2 class="title">Check out our featured news</h2>
              <div class="text">
                <p>Keeping things minimal</p>
              </div>
            </div>
          </div>
        </header>

        <div class="row row-clean">

          <!-- === blog item === -->

          <div class="col-xs-6 col-sm-3">
            <article>
              <a href="products-grid.html">
                <div class="image">
                  <img src="{% static 'shop/images/project-1.jpg' %}" alt="" />
                </div>
                <div class="entry entry-block">
                  <!-- <div class="date">2018 Collection</div> -->
                  <div class="title">
                    <h2 class="h3">Phones</h2>
                  </div>
                  <!-- <div class="description">
                                        <p>
                                            Top picks four your desire
                                        </p>
                                    </div> -->
                </div>
                <!-- <div class="show-more">
                                    <span class="btn btn-clean">Shop now</span>
                                </div> -->
              </a>
            </article>
          </div>

          <!-- === blog item === -->

          <div class="col-xs-6 col-sm-3">
            <article>
              <a href="products-grid.html">
                <div class="image">
                  <img src="{% static 'shop/images/project-2.jpg' %}" alt="" />
                </div>
                <div class="entry entry-block">
                  <!-- <div class="date">New arrivals</div> -->
                  <div class="title">
                    <h2 class="h3">Laptops</h2>
                  </div>
                  <!-- <div class="description">
                                        <p>
                                            Explore popular devices
                                        </p>
                                    </div> -->
                </div>
                <!-- <div class="show-more">
                                    <span class="btn btn-clean">Shop now</span>
                                </div> -->
              </a>
            </article>
          </div>

          <!-- === blog item === -->

          <div class="col-xs-6 col-sm-3">
            <article>
              <a href="products-grid.html">
                <div class="image">
                  <img src="{% static 'shop/images/Untitled-1.jpg' %}" alt="" />
                </div>
                <div class="entry entry-block">
                  <!-- <div class="date">Up to 50% off</div> -->
                  <div class="title">
                    <h2 class="h3">Sound</h2>
                  </div>
                  <!-- <div class="description">
                                        <p>
                                            Available for quick shipping
                                        </p>
                                    </div> -->
                </div>
                <!-- <div class="show-more">
                                    <span class="btn btn-clean">Shop now</span>
                                </div> -->
              </a>
            </article>
          </div>

          <!-- === blog item === -->

          <div class="col-xs-6 col-sm-3">
            <article>
              <a href="products-grid.html">
                <div class="image">
                  <img src="{% static 'shop/images/project-3.jpg' %}" alt="" />
                </div>
                <div class="entry entry-block">
                  <!-- <div class="date">Save big on</div> -->
                  <div class="title">
                    <h2 class="h3">Other Accessories</h2>
                  </div>
                  <!-- <div class="description">
                                        <p>
                                            Fun to explore
                                        </p>
                                    </div> -->
                </div>
                <!-- <div class="show-more">
                                    <span class="btn btn-clean">Shop now</span>
                                </div> -->
              </a>
            </article>
          </div>

        </div>
        <!--/row-->

        <!-- === button more === -->

        <div class="wrapper-more">
          <a class="btn btn-lg"></a>
        </div>

      </div>
      <!--/container-->
    </section>

    <!-- ========================  Block banner category ======================== -->


    <!-- ========================  Icons slider ======================== -->

    <section class="owl-icons-wrapper">

      <!-- === header === -->

      <header class="hidden">
        <div class="text-center">
          <h2 class="title">Product categories</h2>
        </div>
      </header>

      <div class="clearfix">

        <div class="owl-icons owl-icons-rounded owl-icons-frontpage">

          <!-- === icon item === -->


          <img src="{% static 'shop/images/product-1.jpg' %}" alt="Alternate Text" />

          <img src="{% static 'shop/images/product-2.jpg' %}" alt="Alternate Text" />

          <img src="{% static 'shop/images/product-3.jpg' %}" alt="Alternate Text" />

          <img src="{% static 'shop/images/product-4.jpg' %}" alt="Alternate Text" />

          <img src="{% static 'shop/images/product-5.jpg' %}" alt="Alternate Text" />

          <img src="{% static 'shop/images/product-6.jpg' %}" alt="Alternate Text" />

          <img src="{% static 'shop/images/product-7.jpg' %}" alt="Alternate Text" />

          <img src="{% static 'shop/images/product-8.jpg' %}" alt="Alternate Text" />

          <img src="{% static 'shop/images/product-9.jpg' %}" alt="Alternate Text" />





        </div>
        <!--/owl-icons-->
      </div>
      <!--/container-->
    </section>

    <!-- ========================  Best seller ======================== -->

    <section class="products">

      <!-- === header title === -->

      <header>
        <div class="row">
          <div class="col-md-offset-2 col-md-8 text-center">
            <h2 class="title">Best Sellers</h2>
            <div class="text">
              <p>Check out our latest collections</p>
            </div>
          </div>
        </div>
      </header>

      <div id="mainContent" class="row row-clean">

        <!-- === product-item === -->

      </div>
      <!--/row-->
      <!-- === button more === -->

      <div class="wrapper-more">
        <!-- <a href="products-grid.html" class="btn btn-lg">View all</a> -->
        <a class="btn btn-lg"></a>

      </div>

      <!-- ========================  Product info popup - quick view ======================== -->

      <div class="popup-main mfp-hide" id="productid1">

        <!-- === product popup === -->


        <!--/product-->
      </div>
      <!--popup-main-->
      <!--/container-->

    </section>

    <!-- ========================  Block banner fashion ======================== -->

    <section class="blog blog-block">

      <!-- === header === -->

      <header class="hidden">
        <div class="text-center">
          <h2 class="title">Fashion</h2>
        </div>
      </header>

      <div class="row row-clean">

        <!-- === blog item === -->

        <div class="col-sm-4">
          <article>
            <div>
              <div class="image">
                <img src="{% static 'shop/images/shop-3.jpg' %}" alt="" />
              </div>
              <div class="entry entry-block">
                <div class="date">Shop for</div>
                <div class="title">
                  <h2 class="h3">HP Laptops</h2>
                </div>
                <!-- <div class="description">
                                    <ul>
                                        <li>
                                            <a href="#">New arrivals</a>
                                        </li>
                                        <li>
                                            <a href="#">Doscount sale collection</a>
                                        </li>
                                        <li class="more">
                                            <a href="#">More</a>
                                        </li>
                                    </ul>
                                </div> -->
              </div>
            </div>
          </article>
        </div>

        <!-- === blog item === -->

        <div class="col-sm-4">
          <article>
            <div>
              <div class="image">
                <img src="{% static 'shop/images/shop-4.jpg' %}" alt="" />
              </div>
              <div class="entry entry-block">
                <div class="date">Shop for</div>
                <div class="title">
                  <h2 class="h3">Asus Laptops</h2>
                </div>
                <!-- <div class="description">
                                    <ul class="col">
                                        <li>
                                            <a href="#">New arrivals</a>
                                        </li>
                                        <li>
                                            <a href="#">Doscount sale collection</a>
                                        </li>
                                        <li class="more">
                                            <a href="#">More</a>
                                        </li>
                                    </ul>
                                </div> -->
              </div>
            </div>
          </article>
        </div>

        <!-- === blog item === -->

        <div class="col-sm-4">
          <article>
            <div>
              <div class="image">
                <img src="{% static 'shop/images/shop-5.jpg' %}" alt="" />
              </div>
              <div class="entry entry-block">
                <div class="date">Shop for</div>
                <div class="title">
                  <h2 class="h3">Dell Laptops</h2>
                </div>
                <!-- <div class="description">
                                    <ul class="col">
                                        <li>
                                            <a href="#">New arrivals</a>
                                        </li>
                                        <li>
                                            <a href="#">Doscount sale collection</a>
                                        </li>
                                        <li class="more">
                                            <a href="#">More</a>
                                        </li>
                                    </ul>
                                </div> -->
              </div>
            </div>
          </article>
        </div>

      </div>
      <!--/row-->
    </section>

    <!-- ========================  Products widget ======================== -->

    <section class="products">

      <!-- === header title === -->

      <header>
        <div class="row">
          <div class="col-md-offset-2 col-md-8 text-center">
            <h2 class="title">Laptops</h2>
            <div class="text">
              <p>Check out our latest collection of Laptops</p>
            </div>
          </div>
        </div>
      </header>

      <div class="row row-clean">

        <!-- === product-item === -->

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">

          <article>
            <div class="info">
              <span class="add-favorite">
                <a href="javascript:void(0);" data-title="Add to favorites"
                  data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a>
              </span>
              <span>
                <a href="#productid1" class="mfp-open" data-title="Quick wiew"><i class="icon icon-eye"></i></a>
              </span>
            </div>
            <div class="btn btn-add">
              <i class="icon icon-cart"></i>
            </div>
            <div class="figure-grid">
              <div class="image">
                <a href="#productid1" class="mfp-open">
                  <img src="{% static 'shop/images/3.jpg' %}" alt="" width="360" />
                </a>
              </div>
              <div class="text">
                <h2 class="title h5">
                  <a href="product.html">HP 1020</a>
                </h2>
                <sub>Ksh 20000-</sub>
                <sup>Ksh 11000-</sup>
                <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur
                  facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur
                  nulla</span>
              </div>
            </div>
          </article>
        </div>

        <!-- === product-item === -->

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <article>
            <div class="info">
              <span class="add-favorite">
                <a href="javascript:void(0);" data-title="Add to favorites"
                  data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a>
              </span>
              <span>
                <a href="#productid1" class="mfp-open" data-title="Quick wiew"><i class="icon icon-eye"></i></a>
              </span>
            </div>
            <div class="btn btn-add">
              <i class="icon icon-cart"></i>
            </div>
            <div class="figure-grid">
              <div class="image">
                <a href="#productid1" class="mfp-open">
                  <img src="{% static 'shop/images/3.jpg' %}" alt="" width="360" />
                </a>
              </div>
              <div class="text">
                <h2 class="title h5">
                  <a href="product.html">HP 1020</a>
                </h2>
                <sub>Ksh 20000-</sub>
                <sup>Ksh 11000-</sup>
                <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur
                  facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur
                  nulla</span>
              </div>
            </div>
          </article>
        </div>

        <!-- === product-item === -->

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <article>
            <div class="info">
              <span class="add-favorite">
                <a href="javascript:void(0);" data-title="Add to favorites"
                  data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a>
              </span>
              <span>
                <a href="#productid1" class="mfp-open" data-title="Quick wiew"><i class="icon icon-eye"></i></a>
              </span>
            </div>
            <div class="btn btn-add">
              <i class="icon icon-cart"></i>
            </div>
            <div class="figure-grid">
              <span class="label label-warning">New</span>
              <div class="image">
                <a href="#productid1" class="mfp-open">
                  <img src="{% static 'shop/images/3.jpg' %}" alt="" width="360" />
                </a>
              </div>
              <div class="text">
                <h2 class="title h5">
                  <a href="product.html">HP 1020</a>
                </h2>
                <sub>Ksh 20000-</sub>
                <sup>Ksh 11000-</sup>
                <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur
                  facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur
                  nulla</span>
              </div>
            </div>
          </article>
        </div>

        <!-- === product-item === -->

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <article>
            <div class="info">
              <span class="add-favorite added">
                <a href="javascript:void(0);" data-title="Add to favorites"
                  data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a>
              </span>
              <span>
                <a href="#productid1" class="mfp-open" data-title="Quick wiew"><i class="icon icon-eye"></i></a>
              </span>
            </div>
            <div class="btn btn-add">
              <i class="icon icon-cart"></i>
            </div>
            <div class="figure-grid">
              <div class="image">
                <a href="#productid1" class="mfp-open">
                  <img src="{% static 'shop/images/3.jpg' %}" alt="" width="360" />
                </a>
              </div>
              <div class="text">
                <h2 class="title h5">
                  <a href="product.html">HP 1020</a>
                </h2>
                <sub>Ksh 20000-</sub>
                <sup>Ksh 11000-</sup>
                <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur
                  facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur
                  nulla</span>
              </div>
            </div>
          </article>
        </div>

        <!-- === product-item === -->

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <article>
            <div class="info">
              <span class="add-favorite">
                <a href="javascript:void(0);" data-title="Add to favorites"
                  data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a>
              </span>
              <span>
                <a href="#productid1" class="mfp-open" data-title="Quick wiew"><i class="icon icon-eye"></i></a>
              </span>
            </div>
            <div class="btn btn-add">
              <i class="icon icon-cart"></i>
            </div>
            <div class="figure-grid">
              <span class="label label-info">-50%</span>
              <div class="image">
                <a href="#productid1" class="mfp-open">
                  <img src="{% static 'shop/images/3.jpg' %}" alt="" width="360" />
                </a>
              </div>
              <div class="text">
                <h2 class="title h5">
                  <a href="product.html">HP 1020</a>
                </h2>
                <sub>Ksh 20000-</sub>
                <sup>Ksh 11000-</sup>
                <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur
                  facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur
                  nulla</span>
              </div>
            </div>
          </article>
        </div>

        <!-- === product-item === -->

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <article>
            <div class="info">
              <span class="add-favorite">
                <a href="javascript:void(0);" data-title="Add to favorites"
                  data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a>
              </span>
              <span>
                <a href="#productid1" class="mfp-open" data-title="Quick wiew"><i class="icon icon-eye"></i></a>
              </span>
            </div>
            <div class="btn btn-add">
              <i class="icon icon-cart"></i>
            </div>
            <div class="figure-grid">
              <div class="image">
                <a href="#productid1" class="mfp-open">
                  <img src="{% static 'shop/images/3.jpg' %}" alt="" width="360" />
                </a>
              </div>
              <div class="text">
                <h2 class="title h5">
                  <a href="product.html">HP 1020</a>
                </h2>
                <sub>Ksh 20000-</sub>
                <sup>Ksh 11000-</sup>
                <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur
                  facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur
                  nulla</span>
              </div>
            </div>
          </article>
        </div>
      </div>

      <!-- === button more === -->

      <div class="wrapper-more">
        <!-- <a href="products-grid.html" class="btn btn-lg">View store</a> -->
        <a class="btn btn-lg"></a>

      </div>
    </section>

    <!-- ========================  Block banner shop  ======================== -->

    <section class="blog blog-block">

      <!-- === header === -->

      <header class="hidden">
        <div class="text-center">
          <h2 class="title">Banner</h2>
        </div>
      </header>

      <div class="row row-clean">

        <!-- === blog item === -->

        <div class="col-lg-6">
          <article>
            <div>
              <div class="image">
                <img src="{% static 'shop/images/cat-1.jpg' %}" alt="" />
              </div>
              <div class="entry entry-block">
                <!-- <div class="date">Shop for</div> -->
                <div class="title">
                  <h2 class="h3">Macbooks</h2>
                </div>
                <!-- <div class="description">
                                    <ul>
                                        <li>
                                            <a href="#">New arrivals</a>
                                        </li>
                                        <li>
                                            <a href="#">Doscount sale collection</a>
                                        </li>
                                        <li class="more">
                                            <a href="#">More</a>
                                        </li>
                                    </ul>
                                </div> -->
              </div>
            </div>
          </article>
        </div>

        <!-- === blog item === -->

        <div class="col-lg-6">
          <article>
            <div>
              <div class="image">
                <img src="{% static 'shop/images/cat-2.jpg' %}" alt="" />
              </div>
              <div class="entry entry-block">
                <!-- <div class="date">Shop for</div> -->
                <div class="title">
                  <h2 class="h3">Apple Accessories</h2>
                </div>
                <!-- <div class="description">
                                    <ul class="col">
                                        <li>
                                            <a href="#">New arrivals</a>
                                        </li>
                                        <li>
                                            <a href="#">Doscount sale collection</a>
                                        </li>
                                        <li class="more">
                                            <a href="#">More</a>
                                        </li>
                                    </ul>
                                </div> -->
              </div>
            </div>
          </article>
        </div>


      </div>
      <!--/row-->
    </section>


    <!-- ========================  Stretcher widget ======================== -->

    <section class="stretcher-wrapper">

      <!-- === stretcher header === -->

      <header>
        <div class="row">
          <div class="col-md-offset-2 col-md-8 text-center">
            <h1 class="h2 title">Smart watches</h1>
            <div class="text">
              <p>Give the gift of polished punctuality</p>
            </div>
          </div>
        </div>
      </header>

      <!-- === stretcher === -->

      <ul class="stretcher">

        <!-- === stretcher item === -->

        <li class="stretcher-item" style="background-image: url({% static 'shop/images/shop-6.jpg' %});">
          <!--logo-item-->
          <div class="stretcher-logo">
            <div class="text">
              <!-- <span class="text-intro">Man's</span> -->
            </div>
          </div>
          <!--main text-->
          <!-- <figure>
                        <h4>Man's watches</h4>
                        <figcaption>Collection of prestigious, high precision timepieces</figcaption>
                    </figure> -->
          <!--anchor-->
          <!-- <a href="#">Anchor link</a> -->
        </li>

        <!-- === stretcher item === -->

        <li class="stretcher-item" style="background-image: url({% static 'shop/images/shop-7.jpg' %});">
          <!--logo-item-->
          <div class="stretcher-logo">
            <div class="text">
              <!-- <span class="text-intro">Woman's</span> -->
            </div>
          </div>
          <!--main text-->
          <!-- <figure>
                        <h4>Womans's watches</h4>
                        <figcaption>Choose among a wonderful variety of quality smart watches</figcaption>
                    </figure> -->
          <!--anchor-->
          <!-- <a href="#">Anchor link</a> -->
        </li>

        <!-- === stretcher item === -->

        <li class="stretcher-item" style="background-image: url({% static 'shop/images/shop-8.jpg' %});">
          <!--logo-item-->
          <div class="stretcher-logo">
            <div class="text">
              <!-- <span class="text-intro">Professional Quality</span> -->
            </div>
          </div>
          <!--main text-->
          <!-- <figure>
                        <h4>Professional watches</h4>
                        <figcaption>Discover your favourite model by combining materials</figcaption>
                    </figure> -->
          <!--anchor-->
          <!-- <a href="">Anchor link</a> -->
        </li>

        <!-- === stretcher item === -->

        <li class="stretcher-item" style="background-image: url({% static 'shop/images/shop-9.jpg' %});">
          <!--logo-item-->
          <div class="stretcher-logo">
            <div class="text">
              <!-- <span class="text-intro">Diamond bezzels</span> -->
            </div>
          </div>
          <!--main text-->
          <!-- <figure>
                        <h4>Diamond bezzels</h4>
                        <figcaption>Diamond bezel watch collection of luxurious pieces</figcaption>
                    </figure> -->
          <!--anchor-->
          <!-- <a href="#">Anchor link</a> -->
        </li>

        <!-- === stretcher item more=== -->

        <li class="stretcher-item more" style="background-image: url({% static 'shop/images/watches_1.jpg' %});">
          <div class="more-icon">
          </div>
        </li>

      </ul>
    </section>

    <!-- ========================  Cards ======================== -->

    <section id="page-interiors" class="cards">

      <!-- === cards header === -->

      <header>
        <div class="row">
          <div class="col-md-offset-2 col-md-8 text-center">
            <h2 class="title">Sound</h2>
            <div class="text">
              <p>Get premium sound performance without compromise!</p>
            </div>
          </div>
        </div>
      </header>

      <div class="row row-clean">

        <!-- === item === -->

        <div class="col-md-8">
          <figure>
            <figcaption style="background-image: url({% static 'shop/images/block-1.jpg' %});">
              <img src="{% static 'shop/images/block-1.jpg' %}" alt="" />
            </figcaption>
            <!-- <a href="#interiorId1" class="btn btn-clean mfp-open mfp-open-scrollto">Mobile phones</a> -->
          </figure>
        </div>

        <!-- === item === -->

        <div class="col-md-4">
          <figure>
            <figcaption style="background-image: url({% static 'shop/images/block-2.jpg' %});">
              <img src="{% static 'shop/images/block-2.jpg' %}" alt="" />
            </figcaption>
            <!-- <a href="#interiorId1" class="btn btn-clean mfp-open mfp-open-scrollto">Home accessories</a> -->
          </figure>
        </div>

        <!-- === item === -->

        <div class="col-md-4">
          <figure>
            <figcaption style="background-image: url({% static 'shop/images/block-4.jpg' %});">
              <img src="{% static 'shop/images/block-4.jpg' %}" alt="" />
            </figcaption>
            <!-- <a href="#interiorId1" class="btn btn-clean mfp-open mfp-open-scrollto">Smart TV</a> -->
          </figure>
        </div>

        <!-- === item === -->

        <div class="col-md-4">
          <figure>
            <figcaption style="background-image: url({% static 'shop/images/block-3.jpg' %});">
              <img src="{% static 'shop/images/block-3.jpg' %}" alt="" />
            </figcaption>
            <!-- <a href="#interiorId1" class="btn btn-clean mfp-open mfp-open-scrollto">Chairs</a> -->
          </figure>
        </div>

        <!-- === item === -->

        <div class="col-md-4">
          <figure>
            <figcaption style="background-image: url({% static 'shop/images/block-5.jpg' %});">
              <img src="{% static 'shop/images/block-5.jpg' %}" alt="" />
            </figcaption>
            <!-- <a href="#interiorId1" class="btn btn-clean mfp-open mfp-open-scrollto">Gaming</a> -->
          </figure>
        </div>

      </div>
      <!--/row-->
      <!--/container-->
      <!-- === button more === -->
      <div class="wrapper-more">
        <!-- <a href="products-grid.html" class="btn btn-lg">View more</a> -->
      </div>

    </section>

    <!-- ========================  Banner ======================== -->

    <section class="banner" style="background-color:#ff7f00">

      <!-- === header === -->

      <h2 class="hidden">Banner</h2>

      <div class="container">
        <div class="row">
          <div class="col-md-offset-2 col-md-8 text-center">
            <h2 class="title">Our story</h2>
            <p>
              We believe in creativity as one of the major forces of progress. With this idea, we traveled
              throughout Italy to find exceptional
              artisans and bring their unique handcrafted objects to connoisseurs everywhere.
            </p>
            <p>
              <a href="about.html" class="btn btn-clean">CALL NOW</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- ================== Footer  ================== -->

    <footer>


      <!--footer social-->

      <div class="footer-social">
        <div class="row">
          <div class="col-sm-6">
            <a href="#"></i> Jamia Mall</a> &nbsp; | &nbsp; <a href="#">Shop G64</a> &nbsp; | &nbsp;
            <a href="#">Home & Country Delivery🛵🇰🇪</a>
          </div>
          <div class="col-sm-6 links">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-youtube"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

  </div>
  <!--/wrapper-->
  <!--JS files-->
  <script src="{% static 'shop/app.js' %}" async></script>
  <script src="{% static 'shop/js/jquery.min.js' %}"></script>
  <script src="{% static 'shop/js/jquery.bootstrap.js' %}"></script>
  <script src="{% static 'shop/js/jquery.magnific-popup.js' %}"></script>
  <script src="{% static 'shop/js/jquery.owl.carousel.js' %}"></script>
  <script src="{% static 'shop/js/jquery.ion.rangeSlider.js' %}"></script>
  <script src="{% static 'shop/js/main.js' %}"></script>

</body>

</html>